{
	"parser": "babel-eslint",
  "parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest": true
	},
	"extends": [
		"airbnb"
	],
	"plugins": [
		"babel",
		"react"
	],
	"rules": {
		"no-console": "off",
		"no-unused-vars": "warn",
		"no-underscore-dangle": "off",
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
